
/* ===== USE FOR LAYOUT DEBUGGING ===== */
html * {
    /* background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px red; */
}
/* ============================= */

body {
  margin: 0;
  font-family: "Raleway", "Lato", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===== HEADER DECORATION ===== */
hr {
  border: 2px solid;
  border-radius: 2px;
  width: 4rem;
  margin: 0.35rem 0 1.5rem 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px 7vw;
}

h2, h6, h4 {
  text-align: center;
}

/* ==== Eliminates L/R margin on small screens === */
@media (max-width: 768px) {
  .row {
   margin-left: 0 !important;
   margin-right: 0 !important;
  }
}

.container {
  padding: 0;
}

.gradient-bg {
  background: linear-gradient(#ffffff, #d6ffff);
}

.light-bg {
  background-color: #f5f5f5;
}

.dark-bg {
  background-color: #404140;
  color: white;
}

footer {
  min-height: 100px;
  text-align: center;
  padding: 1rem;
  background-color: #212221;
  color: white;
}

/* PROFILE PIC */
.mainimage {
  border-radius: 50%;
  max-height: 16rem;
}

/* ===== PROJECT THUMBNAILS ===== */
.project-image {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 250px;
}
.p1 {
  background-image: url("/ss-basecamp1.png");
}
.p2 {
  background-image: url("/ss-greenupseattle.png");
}
.p3 {
  background-image: url("/ss-pictionary1.png");
}
.p4 {
  background-image: url("/ss-demojify1.png");
}

/* ============================= */

.bold {
  font-weight: 600;
}

.right {
  text-align: right;
}

/*
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background: #12125c;
  position: fixed;
  width: 100vw;
  z-index: 500;
}
*/
/* nav .logo {
  max-height: 1rem;
  margin: 0px 1rem;
  padding: 0;
} */


/* nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.8rem 1.5rem;
  text-decoration: none !important;
  font-size: 1.2rem;
  margin: 0;
}  */


/* nav a:hover {
  color: rgb(15, 237, 185);
}
*/

.my-nav-link {
  color: white !important;
  margin: 0 0.8rem;
  text-align: center;
  font-size: 1.2rem;
}

.my-nav-link:hover, .my-nav-link:focus {
  color: #33FFED !important;
}

.navcolor {
  background: #1181b2;
}