
.my-nav-link {
  color: white !important;
  margin: 0 0.8rem;
  text-align: center;
  font-size: 1.2rem;
}

.my-nav-link:hover, .my-nav-link:focus {
  color: var(--main-color) !important;
}

.navcolor {
  background: #212221;
}

.logo {
  max-height: 44px;
  padding: 0;
}

/* ================ */

/*
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background: #12125c;
  position: fixed;
  width: 100vw;
  z-index: 500;
}
*/
/* nav .logo {
  max-height: 1rem;
  margin: 0px 1rem;
  padding: 0;
} */


/* nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.8rem 1.5rem;
  text-decoration: none !important;
  font-size: 1.2rem;
  margin: 0;
}  */

