
/* USE FOR DEBUGGING */
html * {
    background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px red;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


nav {
  overflow: hidden;
  background: #12125c;
}

nav .logo {
  max-height: 2rem;
  /* float: left; */
  margin: 0px;
  padding: 0px;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a:active {
  background-color: rgb(53, 223, 223);
  color: white;
}

nav .icon {
  display: none;
}

/* #name {
  float: left;
} */

main {
  text-align: center;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 0;
}

footer {
  min-height: 100px;
  text-align: center;
  padding: 1rem;
}

.mainimage {
  border-radius: 50%;
  max-height: 300px;
}